services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: local_db
      POSTGRES_USER: local-user
      POSTGRES_PASSWORD: local-password